<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>
  <%= button_to "Destroy this company", @company, method: :delete, data: { confirm: "Are you sure you want to delete this company?" } %>
</div>
</br></br></br>

<h1 class="display-6">Recorded Transactions</h1>

  <table class="table table-bordered">
  <tr>
    <th>Buy/Sale?</th>
    <th>Quantity</th>
    <th>Per unit price</th>
    <th>Total spent</th>
    <th>Total earned</th>
    <th>Trx fees</th>
    <th>Trx date</th>
    <th>Reason</th>
    <th>Verdict</th>
    <th>Actions</th>
  </tr>
  
  <%# * The next ruby code encapsulates the <tr> </tr> content to repeat those rows for each student entries  %>
  <% @company.transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.buy_sale %></td>
    <td><%= transaction.quantity %></td>
    <td><%= transaction.price_per_unit %></td>
    <td><%= transaction.total_spent %></td>
    <td><%= transaction.total_earned %></td>
    <td><%= transaction.transaction_fees %></td>
    <td><%= transaction.date %></td>
    <td><%= transaction.reason %></td>
    <td><%= transaction.final_verdict %></td>
    <td><%= link_to "Edit", edit_company_transaction_path(@company, transaction) %> </td>
  </tr>
  <% end %>
  </table>

  <p><%= link_to 'Add Transaction', new_company_transaction_path(@company) %></p>

