<div id="<%= dom_id transaction %>">
  <p>
    <strong>Company:</strong>
    <%= transaction.company_id %>
  </p>

  <p>
    <strong>Buy sale:</strong>
    <%= transaction.buy_sale %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Price per unit:</strong>
    <%= transaction.price_per_unit %>
  </p>

  <p>
    <strong>Purchase price:</strong>
    <%= transaction.purchase_price %>
  </p>

  <p>
    <strong>Total spent:</strong>
    <%= transaction.total_spent %>
  </p>

  <p>
    <strong>Total earned:</strong>
    <%= transaction.total_earned %>
  </p>

  <p>
    <strong>Transaction fees:</strong>
    <%= transaction.transaction_fees %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= transaction.reason %>
  </p>

  <p>
    <strong>Final verdict:</strong>
    <%= transaction.final_verdict %>
  </p>

</div>
