<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this transaction", edit_company_transaction_path(@transaction.company, @transaction) %> |
  <%= link_to "Back to company", company_path(@transaction.company) %>

  <%= button_to "Destroy this transaction", [@transaction.company, @transaction], method: :delete %>
</div>
